{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Actualizar estados cuando se selecciona un país
        $('#id_pais').change(function () {
            var url = "{% url 'ajax_cargar_estados' %}";
            var paisId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'pais_id': paisId
                },
                success: function (data) {
                    $('#id_estado').html('<option value="">Selecciona un estado/provincia</option>');
                    $.each(data, function (key, value) {
                        $('#id_estado').append('<option value="' + value.id + '">' + value.nombre + '</option>');
                    });
                }
            });
        });

        // Actualizar ciudades cuando se selecciona un estado
        $('#id_estado').change(function () {
            var url = "{% url 'ajax_cargar_ciudades' %}";
            var estadoId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'estado_id': estadoId
                },
                success: function (data) {
                    $('#id_ciudad').html('<option value="">Selecciona una ciudad</option>');
                    $.each(data, function (key, value) {
                        $('#id_ciudad').append('<option value="' + value.id + '">' + value.nombre + '</option>');
                    });
                }
            });
        });
    });
</script>


<section id="propiedad">
<h2>Propiedad</h2>
<a href="{% url 'agregar_propiedad' %}">Agregar Inmuebles</a>
<ul>

    <li>
        <strong>{{ tipoinmueble.nombre }}</strong>
        <br>
        <strong>{{ inmueble.nombre }}</strong> - {{ inmueble.descripcion }} - {{ inmueble.precio }} {{ inmueble.moneda }}
        <br>
        Dirección: {{ inmueble.calle }} {{ inmueble.numero }}, {{ inmueble.ciudad.nombre }}
        <br>
        m2 construidos:  {{ inmueble.m2_construidos }} - m2 totales : {{ inmueble.m2_totales }}
        <br>
        estacionamientos : {{ inmueble.n_estacionamientos }}
        <br>
        habitaciones : {{ inmueble.n_habitaciones }} -  baños : {{ inmueble.n_baños }}

        <section id="propiedad_edit">

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="card shadow-lg">
                    <div class="card-header text-center bg-primary text-white">
                      <h5 class="mb-0">Modificar Data Inmueble</h5>
                    </div>
                    <form method="POST" >
                      {% csrf_token %}
                      {{ formInmueble.as_p }}
                        <!-- Formulario del Perfil - - >
                        { { perfil_form|crispy }} -->
                      </div>
                      <div class="d-grid gap-2">
                        <button type="submit" name="data_submit" class="btn btn-primary btn-lg">
                          Guardar cambios
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </section> 
    <secion id="Fotos_Actuales">       
        <br><a href="">Modificar Inmuebles</a>--<a href="">Agregar Fotografia</a>
        <!-- Carrusel de imágenes en miniatura -->
        {% if imagenes %}
            <div class="row">
                
                {% for imagen in imagenes %}
                    <!-- para manipular un contador de elementos y saber donde agregar fila-->
                    {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                        </div><div class="row">
                    {% endif %}
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Foto {{ i }}</h5>
                        <img id="prop-min" src="{{ imagen.imagen.url }}" class="d-block w-auto"  alt="Imagen de {{ item.inmueble.nombre }}">
                        <a href="#" class="btn btn-primary">Eliminar Foto</a>
                        </div>
                    </div>
                    </div>
                   
                {% endfor %}    
  
            </div>



        {% else %}
        <p>Imágenes no disponibles</p>
        {% endif %}
    </li>

</ul>
</section>
<section id="foto">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                  <h5 class="mb-0">Agregar Fotos</h5>
                </div>
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                    <!-- Formulario del Perfil - - >
                    { { perfil_form|crispy }} -->
                  </div>
                  <div class="d-grid gap-2">
                    <button type="submit" name="foto_submit" class="btn btn-primary btn-lg">
                      Guardar cambios
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
</section>


{% endblock %}